<div class="white-bg view-container flex-body">
    <main-header></main-header>
    <div class="content">
        <!-- EvalAI into -->
        <div class="grad-container">
            <div class="row">
                <div class="col s12 m6 l6">
                  <div class="tmp-logo-landing">
                      <img src="dist/images/health-bow-01.png">
                  </div>
                </div>
                <div class="col s12 m12 l12">
                    <div class="grad-head">
                        <h3 class="text-dark-black"><strong>Evaluating AI models in health</strong></h3>
                        <p class="text-med-black fs-18 w-300">The ITU/WHO Focus Group on artificial intelligence for health (FG-AI4H) works in partnership with 
                        the World Health Organization (WHO) to establish a standardized assessment framework for the evaluation of AI-based methods for health, 
                        diagnosis, triage or treatment decisions. The group was established by ITU-T Study Group 16 at its meeting in Ljubljana, Slovenia, 9-20 July 2018.  </p>
                        <div class="landing-buttons">
                            <ul class="inline-list">
                                <li>
                                    <a ng-click="main.hostChallenge()" href="javascript:void(0)"
                                        class="dark-link"><strong>Host Audit</strong></a>
                                </li>
                                <li><a class="btn ev-btn-dark waves-effect waves-dark grad-btn grad-btn-dark fs-14"
                                        ui-sref="web.challenge-main">Participate</a></li>
                            </ul>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="ev-container ev-details text-med-black" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">System Architecture</h4>
                </div>
                <div class="row">
                  <div class="col center">
                      <img src="/dist/images/System_Architecture.png" alt="" width="60%">
                  </div>
                </div>
            </div>
        </section>
        <!-- SOSP 2019 Entry -->
        <section class="ev-container ev-reverse-details text-med-black ev-super-light-bg" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">Learn more about the FG-AI4H evaluation process</h4>
                </div>
                <div class="row">
                    <div class="col s12 m4 l4">
                        <img src="/src/images/papers/ml4hauditing.png">
                    </div>
                    <div class="col s12 m10 l8">
                        <h5 class="w-400">ML4H Auditing: From Paper to Practice.</h5>
                        <span class="w-300 fs-16">Luis Oala, Jana Fehr, Luca Gilli, Pradeep Balachandran, Alixandro Werneck Leite, Saul Calderon-Ramirez, Danny Xie Li, Gabriel Nobis, Erick Alejandro Muñoz Alvarado, Giovanna Jaramillo-Gutierrez, Christian Matek, Arun Shroff, Ferath Kherif, Bruno Sanguinetti, Thomas Wiegand
                        <br>Proceedings of the Machine Learning for Health NeurIPS Workshop, PMLR 136:280-317, 2020 
                        </span>
                    </div>

                </div>
               <div class="row">
                    <div class="col s12 m4 l4">
                        <img src="/src/images/papers/whoitubench.png">
                    </div>
                    <div class="col s12 m10 l8">
                        <h5 class="w-400">WHO and ITU establish Auditing process for artificial intelligence in health.</h5>
                        <span class="w-300 fs-16">Thomas Wiegand, Ramesh Krishnamurthy, Monique Kuglitsch, Naomi Lee, Sameer Pujari, Marcel Salathé, Markus Wenzel, Shan Xu
                        <br>The Lancet, Volume 394, Issue 10192, 9 - 11, 2019
                        </span>
                    </div>

                </div>
            </div>
        </section>
         <section class="ev-container ev-reverse-details text-med-black ev-super-light-bg" id="ev-scroll-down">
            <div class="grad-container text-med-black ">
                <div class="row">
                    <h4 class="w-300 center">Built with open source CloudCV technology</h4>
                </div>
                <div class="row">
                  <center>

                    <div class="col s12 m12 l12">
                        <h5 class="w-400">EvalAI: Towards Better Evaluation Systems for AI Agents</h5>
                        <span class="w-300 fs-16">Deshraj Yadav, Rishabh Jain, Harsh Agrawal, Prithvijit Chattopadhyay, Taranjeet Singh, Akash Jain, Shiv Baran Singh, Stefan Lee, Dhruv Batra</span>
                    </div>
                    </center>
                </div>
            </div>
        </section>

    </div>
    <landing-footer></landing-footer>
</div>
