<footer class="ev-md-container dashboard-footer ev-dark-bg">
    <div class="grad-container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">FG-AI4H</h5>
          <p class="text-light-gray">Evaluating AI models in health</p>
        </div>
        <div class="col l4 offset-l0 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="text-light-gray" href="https://www.itu.int/en/ITU-T/focusgroups/ai4h/Pages/default.aspx">FG-AI4H Website</a></li>
            <li><a class="text-light-gray" href="https://itu.int/go/fgai4h">About Us</a></li>
            <li><a class="text-light-gray" routerLink="/contact">Contact Us</a></li>
            <li><a class="text-light-gray" href="https://itu.int/go/fgai4h/onboarding">Get Involved</a></li>
            <li><a class="text-light-gray" href="https://www.itu.int/en/about/Pages/privacy-notice.aspx">Privacy Policy</a></li>

          </ul>
        </div>
      </div>
    </div>
</footer>
