<!-- define all main links here for navigation -->
<div class="ev-sidebar ev-fixed fixed hide-on-med-and-down">
    <div class="links-section-outer">
        <div class="links-section">
            <ul>
                <li>
                  <div class="tmp-logo-auth-sidebar" style="width:50%!important;">
                      <img src="dist/images/health-bow-square.png">
                  </div>
                </li>
                <li>
                    <a class=" text-light-black" ui-sref="web.dashboard" ui-sref-active="side-active-link">
                        <i class="fa fa-signal side-link-icon"></i>
                        <div class="sidebar-title">Dashboard</div>
                    </a>
                </li>
                <li>
                    <a class="text-light-black " ui-sref="web.challenge-main" ui-sref-active="side-active-link">
                        <i class="fa fa-fire side-link-icon"></i>
                        <div class="sidebar-title">All Auditing Tasks</div>
                    </a>
                </li>
                <li>
                    <a class="text-light-black " ui-sref="web.hosted-challenge" ui-sref-active="side-active-link">
                        <i class="fa fa fa-folder-open side-link-icon"></i>
                        <div class="sidebar-title">Hosted Auditing</div>
                    </a>
                </li>
                <li>
                    <a class="text-light-black" ui-sref="web.teams" ui-sref-active="side-active-link">
                        <i class="fa fa-users side-link-icon"></i>
                        <div class="sidebar-title">Participating Teams</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
